<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum accusantium incidunt vel expedita perspiciatis obcaecati quos, odio ipsum qui earum illo tenetur unde nihil commodi. Ex voluptates, amet labore alias error est tempore eligendi reiciendis iusto ducimus dolorem ad culpa?</p>
    </div>
</div>