<div class="index p-4 mt-4">
    <h1 class="display-4">Notes App</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vero eveniet soluta dolores dignissimos quasi modi! Explicabo, vero minus? Exercitationem hic omnis fuga commodi veritatis id debitis, fugit aliquam vitae voluptatem?</p>
    <a href="#" class="btn-primary btn">Sebastian Sierra</a>
</div>